
<h3 id="hplay">Click to play the following!</h3>
    <button id="bjbutton" class="buttoncard" ui-sref="Blackjack" >
        <img title="Blackjack" src="../../../img/blackjack.png" alt="Card image cap">
    </button>
   <button ui-sref="Slots" id="slotsbutton" class="buttoncard">
    <img title="Slots"  src="../../../img/slots.png" alt="Card image cap">
</button>
<button ui-sref="Roulette" id="roubutton" class="buttoncard">
    <img title="Roulette" src="../../../img/roulette.png" alt="Card image cap">
</button>

