<h3>Login page</h3>
<hr />
<div class="row">
    <div class="col-md-8">
        <section>
            <form class="form-horizontal" ng-submit="vm.loginUser()" name="loginForm">

                <div class="form-group">
                    <label for="Email" class="col-md-2 control-label">Email</label>
                    <div class="col-md-10">
                        <input id="Email" type="email" class="form-control" ng-required="true" ng-model="vm.loginData.email" />
                        <label class="text-danger col-lg-3" ng-show="loginForm.email.$touched && loginForm.email.$error.required">
                            An email is required.
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label for="regpassword" class="col-md-2 control-label">Password</label>
                    <div class="col-md-10">
                        <input id="regpassword" name="password" class="form-control" type="password" ng-model="vm.loginData.password" ng-pattern="/^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9]).{8,}$/" ng-required="true" />
                        <label class="text-danger col-lg-3" ng-show="loginForm.password.$touched && loginForm.password.$error.required">A password is required</label>
                        <label class="text-danger col-lg-3" ng-show="loginForm.password.$touched && loginForm.password.$error.pattern">Password must contain a number, uppercase letter and a lowercase letter</label>

                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-9">
                        <button type="submit" class="btn btn-primary" ng-disabled="loginForm.$invalid">Log in</button>
                    </div>
                </div>
                <label class="col-md-9">
                    <a ui-sref="Register">Register as a new user?</a>
                </label>

            </form>
        </section>
    </div>

</div>